.top-bg-color-bar {
    background-image: url('../img/top-bg-color-bar.png');
    background-repeat: repeat-x;
    height: 3px;
}

.conum[data-value] {
    display: inline-block;
    color: #fff !important;
    background-color: rgba(0, 0, 0, .8);
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    font-size: .6em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    font-style: normal;
    font-weight: bold;
    position: relative;
    top: -2px;
}

.conum[data-value]:after {
    content: attr(data-value)
}

[data-element-id] .conum {
    left: 3px;
}

.number[data-element-id] .conum {
    top: 3px;
    float: left;
}

.post .hgroup {
    margin-top: 26px;
    margin-bottom: 26px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: dashed 1px #ccc;
}

article.post {
    border-bottom: none;
    margin-bottom: 0px;
}

#disqus_thread {
    margin-bottom: 45px;
}

#post article.post a {
    text-decoration: underline;
    font-weight: bold;
}

.twitter-tweet, .gist {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

iframe.speakerdeck-iframe {
    padding-top: 15px !important;
    padding-bottom: 5px !important;
}

article.post div + p {
    margin-top: 25px;
}

article.post p + div {
    margin-top: 25px;
}

#post article.post h1 {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 36px 0 16px 0;
    margin: 0 0 26px 0;
    font-weight: 300;
    border-bottom: dashed 1px #cccccc
}

.hgroup .container {
    border-bottom: dashed 1px #ccc;
}

.navbar-brand {
    position: relative;
    overflow: visible !important;
    max-width: 250px;
}

.affix {
    position: fixed !important;
    padding-top: 20px;
    padding-bottom: 0px;
}

.affix-top {
    padding-top: 0px;
    padding-bottom: 0px;
}

.affix-bottom {
    padding-top: 20px;
    padding-bottom: 0px;
}

.navbar .nav li a {
    text-transform: lowercase;
    font-size: 16pt;
    font-weight: normal;
}

#TableOfContents ul {
    list-style-type: none;
    padding-left: 0px;
}

#TableOfContents li > span {
    display: block;
    font-size: 12pt;
    min-height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

#TableOfContents a {
    cursor: hand;
    display: block;
    min-height: 45px;
    line-height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    font-size: 12pt;
    width: 292.333px;
}

@media screen and (min-width: 1200px) {
    #TableOfContents a {
        width: 360px;
    }
}

#TableOfContents li > a:hover, .nav > li > a:focus {
    background-color: #eeeeee;
}

#TableOfContents li.active {
    border-left: solid 1px #428bca;
    background-color: #eeeeee;
}

#TableOfContents li.active a {
    padding-left: 14px;
}

.bpmn, .dmn {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px
}

.cmmn {
    padding-top: 5px;
    border: 1px solid #ddd;
    border-radius: 3px
}

.bjs-powered-by {
    bottom: -18px !important;
    right: -1px !important;
    height: 65px !important;
}

.cjs-powered-by {
    bottom: -13px !important;
    right: 4px !important;
    height: 65px !important;
}

.tjs-controls {
    display: none;
}

.bjs-powered-by img, .cjs-powered-by img {
    width: 48px !important;
    height: 48px !important;
}

.dmn-js-logo {
    top: -1px !important;
    right: 0px !important;
}

.cjs-container svg {
    overflow: visible;
}

.djs-container {
    padding-top: 1px;
}

blockquote {
    border-left: none;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
}

footer blockquote {
    padding-top: 5px !important;
}

blockquote p {
    font-style: italic !important;
    font-weight: normal !important;
    font-size: 20px;
    color: #646464;
}

footer blockquote p {
    font-size: 1.3em !important;
    color: #afafaf;
}

blockquote:before {
    font-family: Georgia, serif;
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -13px;
    top: -18px;
    color: #7a7a7a;
}

footer blockquote:before {
    color: #9f9f9f;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

footer blockquote cite {
    font-size: 1.3em !important;
}

blockquote cite:before {
    content: "\2014 \2009";
}

footer blockquote cite:before {
    content: "";
}

.logo_subtitle {
    position: absolute;
    bottom: -10px;
    right: 6px;
    white-space: nowrap;
    color: rgba(45, 45, 45, 0.88) !important;
}

.hgroup h1, .hgroup h2 {
    color: rgba(45, 45, 45, 0.88);
}

.hgroup h2 {
    font-size: 0.9em;
    margin-right: 0px;
}

figure {
    max-height: 650px !important;
    margin-top: 0px;
    margin-bottom: 20px;
}

.credits {
    color: #999999;
    font-size: 14px;
    display: block;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 2px;
}
.credits a {
    color: inherit;
    text-decoration: none !important;
    font-weight: normal !important;
}

figure + .caption {
    position: relative;
    top: -15px;
    color: #999999;
    display: block;
    margin-left: 2px;
}

figure img {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

figure.list img {
    margin-top: 0px;
}

figure p + img {
    margin-top: 0px;
}

.disqus-comment-count i {
  font-style: normal;
}

.disqus-comment-count b {
  /* font-weight: normal; */
}

.disqus-comment-count b::before {
    content: "(";
}

.disqus-comment-count b::after {
    content: ")";
}

.disqus-comment-count i::before {
    content: " "
}

.disqus-comment-count.de i.sg::after {
    content: "Kommentar";
}

.disqus-comment-count.de i.pl::after {
    content: "Kommentare";
}

.disqus-comment-count.en i.sg::after {
    content: "comment";
}

.disqus-comment-count.en i.pl::after {
    content: "comments";
}

.read-the-discussion i {
  font-style: normal;
}

.read-the-discussion b {
  /* font-weight: normal; */
}

.read-the-discussion i::before {
    content: " "
}

.read-the-discussion.de i.sg::after {
    content: "Minute";
}

.read-the-discussion.de i.pl::after {
    content: "Minuten";
}

.read-the-discussion.en i.sg::after {
    content: "minute";
}

.read-the-discussion.en i.pl::after {
    content: "minutes";
}

/* Fixes layouting problem caused by DMN table overlay rendering */
.mappings .hit, .values .hit {
  display: none;
}

/* Hide DMN annotation column in case it's requested */
.dmn[annotations=false] .annotation {
  display: none;
}

div.highlight {
  margin-top: 20px !important;
  margin-bottom: 0px !important;
}

/* Language Selector */
#social_media_wrapper {
    padding: 5px 5px 7px 5px;
    position: absolute;
    right: 45px;
}
#social_media_wrapper i.fa {
    font-family: 'Plexiti Bariol';
    font-weight: bold;
    position: relative;
    top: -1px;
    left: 0px;
}

.columns {
    column-gap: 30px;
    padding-bottom: 17px;
    margin-bottom: 30px;
    border-bottom: dashed 1px #ccc;
}

.col-xs-12 .columns {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
}

.col-sm-12 .columns {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

.col-md-12 .columns {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}
